* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 960px;
  margin: 50px auto;
}

.list {
  list-style: none;
  padding: 20px 0 20px 20px;
}

.list:nth-child(odd) {
  background-color: #eee;
}

.list:last-child {
  margin-bottom: 50px;
}

.box-group {
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 30%;
  height: 200px;
  background-color: gold;
  margin: 0 5% 40px 0;
}

.box:nth-child(3), .box:nth-child(6), .box:nth-child(9) {
  margin-right: 0;
}

.box:nth-child(7), .box:nth-child(8), .box:nth-child(9) {
  margin-bottom: 0;
}

.box:nth-child(1), .box:nth-child(5), .box:nth-child(9) {
  background-color: darkorange;
}